<div class="pie">
  <footer class="footer">

    <ul class="social-icon"> <br><br><br><br>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <!-- <ion-icon name="logo-facebook"></ion-icon> -->
          <i class="fa-brands fa-facebook"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <!-- <ion-icon name="logo-instagram"></ion-icon> -->
          <i class="fa-brands fa-instagram"></i>
        </a></li>
    </ul>

    <p>&copy;2023 MaGiAn | Giovanny Valderrama, María José Avilés</p>
  </footer>

</div>
