<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>


<div class="body">
  <section class="title">
    <h1>Tu Taxi Aqui</h1>
  </section>
  <nav class="navegacion">
    <ul class="menu">

      <li class="first-item">
        <a href="inicio.html">
          <img src="http://2.1m.yt/C6KpkTU.jpg" alt="" class="imagen">
          <span class="text-item">Inicio</span>
          <span class="down-item"></span>
        </a>
      </li>

      <li>
        <a href="servicios.html">
          <img src="http://2.1m.yt/QZyUs0.jpg" alt="" class="imagen">
          <span class="text-item">Servicios</span>
          <span class="down-item"></span>
        </a>
      </li>

      <li>
        <a href="contacto.html">
          <img src="http://2.1m.yt/J8mLPHo.jpg" alt="" class="imagen">
          <span class="text-item">Contacto</span>
          <span class="down-item"></span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- <app-pedido-pasajero></app-pedido-pasajero> -->
  <router-outlet></router-outlet>
  <app-footer-pasajero></app-footer-pasajero>
</div>
